body {
    background-color: #000080;
    color: #FFFFFF;
    font-family: '맑은 고딕', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    height: 100vh;
    box-sizing: border-box;
}

.welcome {
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.container {
    border: 2px solid #FFFFFF;
    padding: 20px;
    max-width: 800px;
    max-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: auto;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.menu li {
    padding-right: 30px;
    margin-bottom: 10px;
}

.menu li.selected span {
    background-color: #FFFFFF;
    color: #000080;
}

.chat-box {
    border: 1px solid #FFFFFF;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    background-color: #000080;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    border: 1px solid #FFFFFF;
    background-color: #000080;
    height: 20px;
    padding: 4px;
}

.textbox {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    caret-color: transparent;
    font-size: 16px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px;
    box-sizing: border-box;
    font-family: '맑은 고딕', sans-serif;
    font-weight: bold;
}

.textbox::placeholder {
    color: #555555;
}

.textbox:focus {
    outline: none;
}

#text-display {
    color: #FFFFFF;
    pointer-events: none;
    white-space: pre;
    font-size: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    line-height: 20px;
    font-family: '맑은 고딕', sans-serif;
    font-weight: bold;
}

.cursor {
    display: inline-block;
    width: 8px;
    height: 1.3em;
    background-color: #ffff00;
    position: absolute;
    visibility: hidden;
    top: 4px;
    left: 4px;
    opacity: 0.8;
}

.cursor.blink {
    animation: blink 1.0s infinite;
    visibility: visible;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

.text-display {
    display: inline-block;
    white-space: pre;
    visibility: hidden;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
        border: none;
    }

    .menu li {
        margin-bottom: 5px;
    }

    .chat-box {
        height: calc(115vh - 350px);
        margin-bottom: 10px;
    }
}
